img{
    display: block; margin-left: auto; margin-right: auto;width: 190px;
    }
   
.topnavindex {
    overflow: hidden;
    background-color: #212121;
    }
      
.topnavindex a {
    float: left;
    color: #f2f2f2;
    text-align: center;
     padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
      
.topnavindex a:hover {
    background-color: #212121;
    color: black;
    }
      
.topnavindex a.active {
    background-color: #212121;
    color: white;
    }
.active a {
    height:40px;margin-left:15px;color:white;background-color: #212121;
    }

.rensa a{
    float:right;background-color: #212121;
    }
.rensa button{
    background-color: #212121;color:white;border:0;
    }
.count a{
    float:right !important;background-color: #212121;color:white
    }
